.Contact{
 
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
   
}
.ContactText{
    color: #fff;
    padding:20px;
    font-size: 1.8rem;
   
}
.line{
    background-color:#252b3d;
    border: none;
    height:2px;
}
.contact-item {
    display: flex;
   justify-content: center;
    margin-bottom: 8px;
    color: #ffff;
    margin-left: 20px;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 8px;
  }

@media (max-width: 768px) {
    .ContactText{
        font-size: 1.5rem;
    }
    .Contact{
 
        padding-bottom: 30px;
       
    }
}

@media (max-width: 480px) {
    .ContactText{
        font-size: 1.2rem;
    }
    .Contact{
 
        padding-bottom: 5px;
       
    }
}