/* Global App Styling */
.App {
  text-align: center;
  background-color: #1D2230;
  padding: 30px 40px;
  font-family: Arial, sans-serif;
}

/* Make the padding responsive */
@media (max-width: 768px) {
  .App {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .App {
    padding: 30px;
  }
}

