.Projects{
    /* text-align: left; */
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
   
}
.flip-card-title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color:black;
}
.ProjectText{
    color: #fff;
    padding:20px;
    font-size: 1.8rem;
}
.line{
    background-color:#252b3d;
    border: none;
    height:2px;
}
.project {
  text-align: center;
  padding: 40px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 20px; /* Space between items */
  justify-items: center; /* Center items */
}

@media (max-width: 768px) {
  
  .project-grid {
    grid-template-columns: repeat(1, 1fr); /* Two items per row */
  }
  .ProjectText{
    padding-top:0px;
}
.project {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.Projects{
  padding-bottom: 30px;
}

}

@media (max-width: 480px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr); /* Two items per row */
  }

}